---
---

@import "{{ site.theme }}";

.wrapper {
  width: calc(100% - 2rem);
  max-width: 840px;
  margin: 0 auto;
}

header,
footer {
  display: none;
}

section {
  float: none;
  width: 100%;
  margin: 0;
  border: 0;
  padding-bottom: 3rem;
}

@media print, screen and (max-width: 960px) {
  section {
    padding: 0 0 3rem;
  }
}

@media screen and (max-width: 720px) {
  body {
    padding: 0;
  }

  section {
    padding-top: 1.5rem;
  }
}
